<div class="shell">
  <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list>
        <app-nav-menu-item
          *ngFor="let item of navItems"
          [item]="item"
        ></app-nav-menu-item>
      </mat-nav-list>
    </mat-sidenav>
    <app-top-nav fxHide.xs></app-top-nav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
