@import "../breakpoints";
@import "../theme";

.shell {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 360px;
}

.mat-sidenav-container {
  background-color: white !important;
    height: 100vh;
    
  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}
@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

  .mat-drawer-container,
  .mat-drawer {
    padding-top: 56px;
  }
}
.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
